* {
    margin: 0px;
    padding: 0px;
}

#Parent {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

#welcome {
    width: 100%;
    height: 90vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#heading {
    font-size: 50px;
}

#subheading {
    font-size: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: lightblue;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

footer {
    width: 100%;
    height: 70vh;
    background-color: black;
    color: white;
}

#footercontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 70%;
}

#last {
    width: 100%;
    height: 20vh;
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}